BOT_CLIENT_ID="1157351510984900618"
BOT_CLIENT_SECRET="85M49HNiZizjqHMWKRAhzTnil4AGoijp"

# The absolute url of the dashboard (Production)
APP_URL="http://localhost:3000"

# The absolute url of the api endpoint of your bot (Production)
NEXT_PUBLIC_API_ENDPOINT="http://localhost:8080"
